<form class="{{cssClass}} {{item.type}} flexcol" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>
  <div class="sheet-content">
    <div class="caracteristiques">
        {{#each system.caracteristiques as |competence nom| }}
        <div class="caracteristique">
          <label for="system.caracteristiques.{{nom}}.value" class="resource-label">{{ucfirst nom}}</label>
          <select name="system.caracteristiques.{{nom}}.value" id="system.caracteristiques.{{nom}}.value">
            {{#select competence.value}}
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            {{/select}}
          </select>
        </div>
        {{/each }}
    </div>
  </div>
</form>